<!doctype html>
<html>

  <head>
    <title>Prime Numbers</title>
    <meta charset="utf-8">
      <link href="/static/styles.css" rel="stylesheet">
  </head>

  <body>
    <header>
       <nav>
        <a href="/primes" >Generate Prime Numbers</a>
        <a href="/prime/clear">Clear Cache</a>
      </nav>
        <br>
        <hr>
    </header>
    <div class="container">
        <h1>Generate first N Prime Numbers</h1>
        <p>This is a project that uses Flask made RESTful api to generate first N prime numbers, and using Jinja template to render results on a web page.</p>
    </div>
  </body>

</html>
